#royal_preloader.royal_preloader_number .royal_preloader_percentage:after {
    border-left-color: #c9da2d !important;
}

.transition-timer-carousel-progress-bar {
    background-color: #c9da2d;
}

::selection {
	background:#c9da2d;
}

::-moz-selection {
	background:#c9da2d;
}

.nav-circle-li:hover {
    background-color:#c9da2d !important;
}

.css-logo { background-color:#c9da2d; }
.cart a { color: #c9da2d !important; }
a { color:#c9da2d; cursor:pointer; }
a:hover { color:#c9da2d; text-decoration:underline; cursor:pointer; }

.text-primary { font-weight:400; color: #c9da2d; }
.text-main { color:#c9da2d !important; }
mark {
	background:#c9da2d;
}
ul.list-arrow-color li:before {
    color:#c9da2d;
}

ul.list-arrow-2-color li:before {
    color:#c9da2d;
}
.tp-bannertimer { background-color:#c9da2d !important; }
.color-main { color:#c9da2d; }
.background-mainsub { background-color:#c9da2d; }
.table.cart-table > thead > tr > th { background-color:#c9da2d; }
.footer-light .thumbnail:hover { outline:5px solid #c9da2d; }
.nav-pills.nav-stacked:not(.list-style-icons) > li.active > a:focus::after, .nav-pills.nav-stacked:not(.list-style-icons) > li.active > a:hover::after, .nav-pills.nav-stacked:not(.list-style-icons) > li > a:focus::after, .nav-pills.nav-stacked:not(.list-style-icons) > li > a:hover::after {
	color:#c9da2d;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color:#c9da2d;
    border-color:#c9da2d;
}

ul.sidebar-nav > li.active > a { background-color:#c9da2d; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background:#c9da2d; }
#owl-carousel-thumb .thumbnail .caption, #owl-carousel-product .thumbnail .caption { background:rgba(189, 195, 199, 0.59); }
.shop-product a h2:hover,.shop-product a h3:hover,.shop-product a h4:hover { color:#c9da2d; }

.content-render-right { background-color: #c9da2d; }
.btn-rw.btn-bordered:hover, .btn-rw.btn-bordered:focus {
    background-color:#c9da2d;
    border-color:#c9da2d;
}
.nav-pills.nav-pills-shop>li.active>a, .nav-pills.nav-pills-shop>li.active>a:focus, .nav-pills.nav-pills-shop>li.active>a:hover, .nav-pills.nav-pills-shop>li>a:hover {
    background-color:#c9da2d;
    border-color:#c9da2d;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #c9da2d;
	border-color: #c9da2d;
}

.pagination>li>a, .pagination>li>span {
	color: #c9da2d;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	background-color: #c9da2d;
	border-color: #c9da2d;
}
.btn-rw.btn-primary {
	background-color:#c9da2d;
	-webkit-box-shadow:0px 2px 0px rgba(189, 195, 199, 0.59);
	-moz-box-shadow:0px 2px 0px rgba(189, 195, 199, 0.59);
	box-shadow:0px 2px 0px rgba(189, 195, 199, 0.59);
}

#owl-carousel-thumb .thumbnail .caption {
    background:rgba(189, 195, 199, 0.59);
}

.carousel-nav.nav-pills>li.active>a, .carousel-nav.nav-pills>li.active>a:focus, .carousel-nav.nav-pills>li.active>a:hover {
	background-color: #c9da2d;
}

.btn-rw.btn-primary:hover, .btn-rw.btn-primary:focus {
	background-color: #A6ACB0;
	-webkit-box-shadow:0px 2px 0px #c9da2d;
	-moz-box-shadow:0px 2px 0px #c9da2d;
	box-shadow:0px 2px 0px #c9da2d;
}
.nav-pills.nav-stacked > li.active > a, .nav-pills.nav-stacked > li.active > a:hover, .nav-pills.nav-stacked > li.active > a:focus, .nav-pills.nav-stacked > li > a:hover, .nav-pills.nav-stacked > li > a:focus {
    color: #c9da2d;
}
.image-icon-holder { background-color: transparent; }
.image-icon-holder:hover { color: #A6ACB0; background-color: #fff; }
.image-hover-1 .mask {
	background-color: rgba(189, 195, 199, 0.59) !important;
}

.bordered-icon-lg {
	color:#c9da2d;
}

.bordered-icon-lg:hover, .bordered-icon-lg:focus {
	background-color:#c9da2d;
}

.bordered-icon-sm {
	color:#c9da2d;
}

.bordered-icon-sm:hover, .bordered-icon-sm:focus {
	background-color:#c9da2d;
}

.bordered-icon-xs {
	color:#c9da2d;
}

.bordered-icon-xs:hover, .bordered-icon-xs:focus {
	background-color:#c9da2d;
}

.bordered-icon-static-lg {
	color:#c9da2d;
}

.bordered-icon-static-sm {
	color:#c9da2d;
}

.bordered-icon-static-xs {
	color:#c9da2d;
}

.bordered-icon-color {
	background-color:#c9da2d;
}

.bordered-icon-color:hover, .bordered-icon-color:focus {
	color: #fff;
}

.bordered-icon-dark:hover, .bordered-icon-dark:focus {
	background-color:#c9da2d;
}

.bs-glyphicons li:hover {
	background-color:#c9da2d;
}

.navbar-brand {
	color:#c9da2d;
}

.navbar-toggle:hover {
	border:1px solid #c9da2d;
	background-color:#c9da2d;
}

.navbar.navbar-main ul.nav li:hover > a {
	color:#c9da2d;
}

.mega-dropdown-menu .dropdown-header {
    color:#c9da2d;
}

.navbar.navbar-main .dropdown-menu {
	border-top:1px solid #c9da2d;
	border-bottom:2px solid #c9da2d;
}

.navbar.navbar-main ul.nav a:hover {
	color:#c9da2d;
}

.navbar.navbar-main .navbar-nav .open .dropdown-menu>li:hover > a {
	color:#c9da2d;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#c9da2d;
}

.navbar.navbar-main .nav li.active a {
	color:#c9da2d;
}

.navbar.navbar-main .navbar-nav .open .dropdown-menu>li>a:hover{
	color:#c9da2d;
}

.navbar.navbar-main .dropdown-menu {
	border-top:1px solid #c9da2d;
	border-bottom:2px solid #c9da2d;
}

ul.sidebar-nav>li.active>a {
	background-color:#c9da2d;
}
ul.sidebar-nav ul li a:hover,
ul.sidebar-nav ul li.active>a {
	color:#c9da2d !important;
}

ul.sidebar-nav a:hover, ul.sidebar-nav ul li.active>a {
	background-color:#c9da2d;
}

.carousel-title-bg {
	background-color:#c9da2d;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
	border-bottom:2px solid #c9da2d;
}

.content-box-primary {
	background:#c9da2d;
}

.panel-title > a:hover {
	color:#c9da2d;
}

.panel-primary { border-color:#c9da2d; }
.panel-primary>.panel-heading {  background-color:#c9da2d; border-color:#c9da2d; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-top:5px solid #c9da2d;
}
.nav>li>a:hover, .nav>li>a:focus {
	color: #c9da2d;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-top:5px solid #c9da2d;
}

.cta-primary {
	background-color:#c9da2d;
}
.cta2 {
	background-color:#c9da2d;
}
.cta2.arrow-down:after {
	border-top:15px solid #c9da2d;
}
.cta2.arrow-up:after {
	border-bottom:15px solid #c9da2d;
}

.timeline-badge.primary { background-color:#c9da2d !important; }
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color:#c9da2d;
}

.custom-content.thumbnail:hover {
	border-bottom:5px solid #c9da2d;
}

.modal-header {
	background-color:#c9da2d;
}

.badge-primary {
	background-color:#c9da2d;
}

.label-primary {
	background-color:#c9da2d;
}

.progress-bar-primary {
	background-color:#c9da2d;
}

.team-ico:hover {
	color:#c9da2d;
}

.topbar-list li a:hover {
	color:#c9da2d;
}

#portfolio .nav-pills > li:hover {
   	background:#c9da2d;
   	border:2px solid #c9da2d;
}

#portfolio .nav > li.active {
   	background:#c9da2d;
   	border:2px solid #c9da2d;
}


.portfolio-title a:hover {
	color:#c9da2d;
}

.blog-post h2 a:active, .blog-post h2 a:hover {
	color:#c9da2d;
}

.latest-posts h3 a:hover {
	color:#c9da2d;
}

.blog-heading {
	border-left:3px solid #c9da2d;
}

.media-list a:hover { color:#c9da2d; }

.heading-footer h2, .heading-footer h3, .heading-footer h4 {
	border-bottom:2px solid #c9da2d;
}

.footer .thumbnail:hover {
	outline:5px solid #c9da2d;
}

.footer-scrolltop-holder:hover {
	background-color:#c9da2d;
}

.footer-light .heading-footer h2, .footer-light .heading-footer h3, .footer-light .heading-footer h4 {
	border-bottom: 2px solid #c9da2d;
}

@media (max-width:480px) {
	.nav-pills.nav-pills-shop>li.active>a, .nav-pills.nav-pills-shop>li.active>a:focus, .nav-pills.nav-pills-shop>li.active>a:hover, .nav-pills.nav-pills-shop>li>a:hover {
	    color: #c9da2d;
	    background-color: transparent;
	}
}
